<form [formGroup]="form">
  <div class="form-grid">
    <div class="form-group full">
      <label class="form-label">Новий пароль *</label>
      <div class="password-wrap">
        <input class="form-input" formControlName="newPassword" [type]="showNewPassword() ? 'text' : 'password'"
               [class.error]="isInvalid('newPassword')" />
        <button type="button" class="toggle-pass" (click)="showNewPassword.set(!showNewPassword())">
          <i class="pi" [ngClass]="showNewPassword() ? 'pi-eye-slash' : 'pi-eye'"></i>
        </button>
      </div>
      @if (isInvalid('newPassword')) {
        <span class="field-hint">
                @if (form.get('newPassword')?.errors?.['required']) { Новий пароль є обов'язковим }
                @else if (form.get('newPassword')?.errors?.['weakPassword']) {
                  Мінімум 8 символів, велика і мала літера, цифра та спецсимвол (@$!%*?&)
                }
            </span>
      }
    </div>
  </div>

  <div footer class="modal-footer">
    <button type="button" class="btn-cancel" (click)="cancel()">
      <i class="pi pi-times"></i> Скасувати
    </button>
    <button type="button" class="btn-primary" (click)="submit()">
      Зберегти
    </button>
  </div>
</form>
